<html>
<head>
<title>warna-warna</title>
</head>
<body>
<table width="300" border="1">
<tr>
	<td colspan="3" align="center">warna-warna </td>
</tr>
<tr>
	<td bgcolor="#00FF00">Hijau</td>
	<td bgcolor="#FFFF00">Kuning</td>
	<td bgcolor="FF0000">Merah </td>
</tr>
<tr>
	<td bgcolor="#999999">Abu-Abu</td>
	<td bgcolor="#0000FF">Biru</td>
	<td bgcolor="#FF9900">Orange</td>
</tr>
<tr>
	<td bgcolor="#663300">Cokelat</td>
	<td bgcolor="#3399CC">Biru muda</td>
	<td bgcolor="#FF00FF">Merah muda</td>
</tr>
</table>
</body>
<body BGCOLOR ="#00FF00">
</html>
